

<div class="container" style="width:99% !important;" data-ng-controller="tableCtrl as tctrl" >

<h2>Detalles</h2>
<small> detalles del error</small>
<div class="card" id="messages-main" ng-hide="viewReport" style="box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) !important; height: 700px">

 <div class="ms-menu" style="background:#f8f8f8 !important; height: 100%;">
   <div class="ms-block">
     <div class="ms-user">
       <div style="font-size: 17px; text-align: center;">
         I.B
       </div>
     </div>
   </div>

 </div>

 <div class="ms-body">
     <div class="lv-body">
       <br>
       <br>
       <div class="modal-body">
         <div class="table-responsive" >
           <div class="jumbotron" style="height: 100%; width:100%; padding-top: 120px;background-color: rgba(247, 247, 247, 0)">
         <h2 style="text-align: center; color:#F8BD2F;">Bienvenido al panel de búsqueda de Errores.</h2>
         <p style="font-size: 18px;text-align: center">Para iniciar, elija una opción en los criterios de búsqueda del lado izquierdo</p>

       </div>
       </div>
       <br>
     </div>
 </div>
</div>
</div>
