<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl" style="background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #505050), color-stop(1, #3D3D3D));
    background-image: -webkit-linear-gradient(top, #505050 0%, #3D3D3D 100%);
    background-image: linear-gradient(to bottom, #505050 0%, #3D3D3D 100%);" data-current-skin="blue"></header>

<section id="main">
<aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
      <section id="content">

        <div class="container" style="width:99% !important;">

                <img id="arrow_home" src="img/arrow_home.png" alt="">


                <div style="position: relative;top: 90%;width: 100%;" >
                  <div style="font-size: 37px;width: 80%;text-align: center;margin: auto;color: gray;font-weight: bold;">Bienvenidos a Hypersoft </div>
                  <div style="text-align: center;color: gray;margin-top: 78px;">
                    <i class="zmdi zmdi-menu zmdi-hc-fw" style="font-size: 100px;transform: scaleX(-1)"></i>
                  </div>
                  <div style="font-size: 16px;width: 80%;text-align: center;margin: auto;color: gray;">Para empezar toque el icono ubicado en la esquina superior-izquierda, luego elija una de las opciones</div>
                </div>

      </div>

      </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
