<ul class="header-inner clearfix" >
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs ">
      <img alt="" src="img/logo-hypersoft.png" style="width: 177px;" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)">
  </div>
    </li>
    <!-- <li class="pull-right">
        <ul class="top-menu" style="text-align: center;">

        <div style="font-size: 13px;  color: #F8BD2F;">¿Necesitas ayuda del equipo de Hypersoft? </div>

            <a class="btn bgm-green btn-xs waves-effect" target="_blank" href="http://soporte.hypersoft.co"><i class="zmdi zmdi-help zmdi-hc-fw"></i> Contáctanos</a>
        </ul>
    </li> -->
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>
